{% extends 'layout.html' %}
{% block content %}
{% if post.type==="normal" %}
<h4>일반 게시판</h4>
<h1>{{board.title}}</h1>
<hr/>
<h2>{{post.title}}</h2>
{{post.writer}} | {{post.date}} | 조회 {{post.views}}
<br/>
{{post.content}}
<hr width="50%" align="left"/>
<button onClick="location.href='/deletepost/{{[post.id]}}'">게시글 삭제</button>

{% else %}
<h4>포토 게시판</h4>
<h1>{{board.title}}</h1>
<hr/>
<h2>{{post.title}}</h2>
{{post.writer}} | {{post.date}} | 조회 {{post.views}}
<br/>
<img src="/img/{{post.image}}"><br/>

{{post.content}}
<hr width="50%" align="left"/>
<button onClick="location.href='/deletepost/{{[post.id]}}'">게시글 삭제</button>
{% endif %}

{% endblock %}