{% extends 'layout.html' %}

{% block content %}
{% if type==="normal" %}
<h3>일반 게시판 목록</h3>
<table border="1" width="50%">
    <tr>
        <th width="80%">게시판명</th>
        <th width="20%">관리</th>
    </tr>
    {% for board in boards %}
    <tr>
        <td align="center">{{board.title}}</td>
        <td align="center"><button onClick="location.href='/admin/postmanage/{{board.id}}'">관리</button></td>
    </tr>
    {% endfor %}
</table>
<button onClick="location.href='/admin/boardcreate?type=normal'">게시판 생성</button>

{% else %}
<h3>포토 게시판 목록</h3>
<table border="1" width="50%">
    <tr>
        <th width="80%">게시판명</th>
        <th width="20%">관리</th>
    </tr>
    {% for board in boards %}
    <tr>
        <td align="center">{{board.title}}</td>
        <td align="center"><button onClick="location.href='/admin/postmanage/{{board.id}}'">관리</button></td>
    </tr>
    {% endfor %}
</table>
<button onClick="location.href='/admin/boardcreate?type=photo'">게시판 생성</button>
{% endif %}
{% endblock %}