{% extends 'layout.html' %}

{% block content %}
{% if board.type==="normal" %}
<h4>일반 게시판</h4>
<h2>{{board.title}}</h2>
<h3>게시글 목록</h3>
<table border="1" width="80%">
    <tr>
        <th width="50%">제목</th>
        <th width="20%">작성자</th>
        <th width="20%">작성일</th>
        <th width="10%">삭제</th>
    </tr>
    {% for post in posts %}
    <tr>
        <td align="center">{{post.title}}</td>
        <td align="center">{{post.writer}}</td>
        <td align="center">{{post.date}}</td>
        <td align="center"><button onClick="location.href='/admin/deletepost/{{post.id}}'">삭제</button></td>
    </tr>
    {% endfor %}
</table>
<button onClick="location.href='/admin/deleteboard/{{board.id}}'">게시판 삭제</button>

{% else %}
<h4>포토 게시판</h4>
<h2>{{board.title}}</h2>
<h3>게시글 목록</h3>
<table border="1" width="50%">
    <tr>
        <th width="80%">제목</th>
        <th width="20%">삭제</th>
    </tr>
    {% for board in boards %}
    <tr>
        <td align="center">{{board.title}}</td>
        <td align="center"><button onClick="location.href='/admin/deletepost/{{post.id}}'">삭제</button></td>
    </tr>
    {% endfor %}
</table>
<button onClick="location.href='/admin/deleteboard/{{board.id}}'">게시판 삭제</button>
{% endif %}
{% endblock %}